@use '../../../styles/abstracts/variables' as *;

.button {
	border-radius: $radius-md;
	box-shadow: 0 0 20px 0 rgb($color-accent-rgb / 80%);
	border: 2px solid rgb($color-accent-rgb / 80%);
	transition: $transition-fast;
	padding: $spacing-md;

	&:hover {
		background-color: rgb($color-accent-rgb / 80%);
	}
}
