@use "../../styles/mixins" as *;

.header {
	width: 100%;
	padding-inline: 7vw;
	padding-block: 0.5rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.5rem;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1020;

	max-width: 100%;

	background-color: transparent;
	border-radius: 0 0 20px 20px;

	transition:
		background-color 0.25s ease,
		backdrop-filter 0.25s ease,
		border-radius 0.25s ease,
		box-shadow 0.25s ease;
}

.headerScrolled {
	backdrop-filter: blur(12px);
	box-shadow: 0 10px 15px rgb(0 0 0 / 0.15);
}

.headerDark {
	background-color: color(surface);
	backdrop-filter: blur(16px);
	border-radius: 0;
}