@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.header {
	@include container;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	gap: $spacing-lg;
	padding-block: $spacing-lg;
	box-shadow: $shadow-lg;
	position: sticky;
	top: 0;
	left: 0;
	z-index: $z-md;
	backdrop-filter: blur(12px);
	border-radius: 0 0 $radius-2xl $radius-2xl;
}
