@use '../../../styles/abstracts/variables' as *;

.link {
	position: relative;
	display: inline-flex;
	justify-content: center;
	padding: $spacing-sm $spacing-md;
	text-decoration: none;
	transition: $transition-fast;
	border-radius: $radius-md;

	&:hover {
		color: $color-accent;
		background-color: rgb($color-accent-rgb / 10%);
	}

	.indicator {
		position: absolute;
		left: 0;
		bottom: 0;

		width: 100%;
		height: 2px;

		background-color: $color-accent;
		border-radius: $radius-full;
	}
}
