@use '../../../styles/abstracts/variables' as *;

.dropdown {
	width: 100%;
	border-radius: $radius-md;
	overflow: hidden;

	.trigger {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
	}

	a {
		width: 100%;
	}

	.icon {
		position: absolute;
		right: $spacing-md;
		top: 50%;
	}

	ul {
		position: static;
		width: 100%;
		background-color: rgb($color-accent-rgb / 10%);

		li {
			width: 100%;

			a:hover {
				background-color: rgb($color-accent-rgb / 15%);
			}
		}
	}
}
