@use "styles/mixins" as *;

.bulkActions {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
	gap: 1.5rem;
	border-radius: 1rem;
	background: tone(primarySoft);
	flex-wrap: wrap;

	@include mobile {
		margin-top: .75rem;
	}

	>div {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		button {
			height: auto;
			padding: 0.75rem;
		}
	}

	menu {
		display: flex;
		gap: 0.75rem;

		@include mobile {
			display: grid;
			grid-template-columns: 1fr 1fr;
			width: 100%;
		}
	}
}

.counter {
	display: flex;
	align-items: center;
	gap: 0.35rem;
}

.counter span:first-child {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 1.5rem;
	font-weight: 600;
}