@use "styles/index" as *;

.dashboard {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    min-height: 100vh;

    @include mobile {
        grid-template-columns: 1fr;
    }

    >main {
        min-width: 0;
        height: 100%;
    }
}