@use "styles/mixins.scss" as *;

.navbar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 2rem;
	width: 100%;

	.toggleMenu {
		display: none;
	}

	.menu {
		display: flex;
		align-items: center;
		gap: 1rem;
		justify-content: center;
		width: 100%;
	}

	@include mobile {
		.menu {
			display: none;
		}

		.toggleMenu {
			display: inline-flex;
			width: auto;
		}
	}
}