@use '../abstracts/variables' as *;

html,
body {
	font-family: $font-primary;
}

body {
	background-color: $color-background;
	color: $color-text;
	display: flex;
	flex-direction: column;
}

main {
	padding-block: $spacing-2xl;
	margin-block: auto;
}

code,
pre {
	font-family: $font-mono;
}

a {
	cursor: pointer;
	width: inherit;
}

img {
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

h1 {
	font-size: $font-fluid-h1;
}

h2 {
	font-size: $font-fluid-h2;
}

h3 {
	font-size: $font-fluid-h3;
}

h4 {
	font-size: $font-fluid-h4;
}

p,
span,
a,
button,
li {
	font-size: $font-fluid-body;
}
