@use '../../../styles/abstracts/variables' as *;

.socialLinks {
	display: flex;
	flex-direction: column;
	width: 100%;

	li a {
		display: flex;
		align-items: center;
		gap: $spacing-sm;
		transition: $transition-fast;
		padding: $spacing-sm;
		border-radius: $radius-md;
		width: 100%;

		&:hover {
			background-color: rgb($color-accent-rgb / 10%);
			color: $color-accent;
		}
	}
}
