@use "styles/variables" as *;
@use "sass:list";
@use "sass:map";

// Color Validation
@function ensureTone($tone) {
	@if not list.index($themeTones, $tone) {
		@error "Invalid '#{$tone}' as tone. Options: #{$themeTones}";
	}

	@return $tone;
}

@function tone($tone) {
	@return var(--app-color-#{$tone});
}

@function gradient-tone($tone) {
	$tone: ensureTone($tone);

	@return map.get($gradient-tones, $tone);
}

// Generar Gradiente
@function gradient($tone, $angle: 135deg) {
	$tone: ensureTone($tone);

	@return linear-gradient($angle,
		tone($tone),
		gradient-tone($tone));
}

@function gradient-hover($tone, $angle: 135deg) {
	$end: gradient-tone($tone);

	@return linear-gradient($angle,
		color-mix(in srgb, tone($tone) 85%, white),
		color-mix(in srgb, $end 85%, white));
}

// Buttons
@mixin button-solid($tone) {
	$tone: ensureTone($tone);

	background-color: color-mix(in srgb, tone($tone) 88%, black);
	color: tone(#{$tone}-foreground);
	border: 1px solid transparent;

	transition:
		background-color 0.2s ease,
		color 0.2s ease,
		border-color 0.2s ease,
		transform 0.15s ease;

	&:not(:disabled):hover {
		background-color: tone($tone);
	}
}

@mixin button-soft($tone) {
	$tone: ensureTone($tone);

	background-color: tone(#{$tone}-soft);
	color: tone(#{$tone}-hover);
	border: 1px solid transparent;

	transition:
		background-color 0.2s ease,
		color 0.2s ease,
		border-color 0.2s ease,
		transform 0.15s ease;
}

@mixin button-outline($tone) {
	$tone: ensureTone($tone);

	background-color: transparent;
	color: tone($tone);
	border: 1px solid tone($tone);

	transition:
		background-color 0.2s ease,
		color 0.2s ease,
		border-color 0.2s ease;

	&:not(:disabled):hover {
		color: tone(#{$tone}-foreground);
		background-color: tone(#{$tone});
	}
}

@mixin button-plain($tone: null) {
	background-color: transparent;
	border: 1px solid transparent;

	transition:
		background-color 0.2s ease,
		color 0.2s ease;

	@if $tone ==null {
		color: tone(text-muted);

		&:not(:disabled):hover {
			color: tone(text);
			background-color: color-mix(in srgb, tone(text) 6%, tone(surface));
		}
	}

	@else {
		$tone: ensureTone($tone);
		color: tone($tone);

		&:not(:disabled):hover {
			color: tone($tone);
			background-color: color-mix(in srgb, tone($tone) 10%, transparent);
		}
	}
}

@mixin button-gradient($tone) {
	$tone: ensureTone($tone);

	background: gradient($tone);

	color: tone(#{$tone}-foreground);

	border: 1px solid transparent;

	box-shadow: 0 0px 5px color-mix(in srgb,
			tone($tone) 40%,
			transparent);

	&:not(:disabled):hover {
		box-shadow: 0 0px 10px color-mix(in srgb,
				tone($tone) 50%,
				transparent);
	}
}

// Inputs
@mixin input-form($focus-tone: primary) {
	$focus-tone: ensureTone($focus-tone);

	background-color: tone(surface);
	color: tone(text);
	border: 1px solid tone(border);
	transition: .2s ease;

	&::placeholder {
		color: tone(text-muted);
	}

	&:focus {
		border-color: tone($focus-tone);
		box-shadow: 0 0 0 3px tone(#{$focus-tone}-soft);
		outline: none;
	}
}

@mixin input-search($focus-tone: primary) {
	$focus-tone: ensureTone($focus-tone);

	background-color: transparent;
	color: tone(text);
	border: none;
	border-bottom: 1.5px solid tone(border);
	border-radius: 0;
	transition: .2s ease;

	&::placeholder {
		color: tone(text-muted);
	}

	&:focus {
		border-bottom-color: tone($focus-tone);
		outline: none;
	}
}

// Links
@mixin plain-tone($tone: null) {
	background-color: transparent;
	border: 1px solid transparent;

	transition:
		background-color 0.2s ease,
		color 0.2s ease;

	@if $tone ==null {
		color: tone(text-muted);

		&:hover {
			color: tone(text);

			background-color: color-mix(in srgb,
					tone(text) 6%,
					transparent);
		}
	}

	@else {
		$tone: ensureTone($tone);

		color: tone($tone);

		&:hover {
			color: tone($tone);

			background-color: color-mix(in srgb,
					tone($tone) 10%,
					transparent);
		}
	}
}

// Badges
@mixin badge-soft($tone) {
	$tone: ensureTone($tone);

	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: fit-content;

	height: 1.75rem;
	padding: 0 0.75rem;

	border-radius: 999px;

	font-size: 0.75rem;
	font-weight: 600;
	line-height: 1;

	background-color: tone(#{$tone}-soft);
	color: tone($tone);

	border: 1px solid tone($tone);
}

// Blocks
@mixin block-soft($tone) {
	$tone: ensureTone($tone);

	background-color: tone(#{$tone}-soft);
	color: tone($tone);
	border: 1px solid color-mix(in srgb, tone($tone) 18%, tone(border));
}

// Layout
@mixin mobile {
	@media (max-width: #{$breakpoint-mobile}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$breakpoint-mobile + 1px}) and (max-width: #{$breakpoint-tablet}) {
		@content;
	}
}

@mixin large-tablet {
	@media (min-width: #{$breakpoint-tablet + 1px}) and (max-width: #{$breakpoint-large-tablet}) {
		@content;
	}
}

@mixin laptop {
	@media (min-width: #{$breakpoint-large-tablet + 1px}) and (max-width: #{$breakpoint-laptop}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$breakpoint-desktop}) {
		@content;
	}
}