// Fonts
$fontSans: (
	"Inter",
	ui-sans-serif,
	system-ui,
	sans-serif
);

$fontHeading: (
	"Clash Display",
	ui-sans-serif,
	system-ui,
	sans-serif
);

// Colors
$themeTones: (
	primary,
	secondary,
	accent,
	success,
	warning,
	error
);

$gradient-tones: (
	primary: var(--app-color-secondary),
	secondary: #22d3ee,
	accent: #fbbf24,
	success: #34d399,
	warning: #f97316,
	error: #f43f5e,
);

// Layout
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1023px;
$breakpoint-large-tablet: 1279px;
$breakpoint-laptop: 1439px;
$breakpoint-desktop: 1440px;