// Dark Mode per attribute
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root {
	// Fonts
	--app-font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
	--app-font-heading: "Clash Display", ui-sans-serif, system-ui, sans-serif;

	// Colors
	--app-color-background: #ffffff;
	--app-color-surface: #f1f5f9;
	--app-color-text: #000519;
	--app-color-text-muted: #64748b;
	--app-color-border: #dbe4f0;

	--app-color-primary: #1f36d9;
	--app-color-primary-hover: #1728a8;
	--app-color-primary-soft: #eef2ff;
	--app-color-primary-foreground: #ffffff;

	--app-color-secondary: #0e7ab8;
	--app-color-secondary-hover: #0d6699;
	--app-color-secondary-soft: #eff8fd;
	--app-color-secondary-foreground: #ffffff;

	--app-color-accent: #e8603a;
	--app-color-accent-hover: #d74b24;
	--app-color-accent-soft: #fff4f1;
	--app-color-accent-foreground: #ffffff;

	--app-color-success: #16a34a;
	--app-color-success-hover: #15803d;
	--app-color-success-soft: #f0fdf4;
	--app-color-success-foreground: #ffffff;

	--app-color-warning: #f59e0b;
	--app-color-warning-hover: #e59a00;
	--app-color-warning-soft: #fff0a8;
	--app-color-warning-foreground: #000519;

	--app-color-error: #dc2626;
	--app-color-error-hover: #b91c1c;
	--app-color-error-soft: #fef2f2;
	--app-color-error-foreground: #ffffff;
}

[data-theme="dark"] {
	--app-color-background: #070b14;
	--app-color-surface: #111827;
	--app-color-text: #f8fafc;
	--app-color-text-muted: #cbd5e1;
	--app-color-border: #334155;

	--app-color-primary: #4f6cff;
	--app-color-primary-hover: #6882ff;
	--app-color-primary-soft: #182a8f;
	--app-color-primary-foreground: #ffffff;

	--app-color-secondary: #2494d4;
	--app-color-secondary-hover: #39a8e7;
	--app-color-secondary-soft: #0c4564;
	--app-color-secondary-foreground: #ffffff;

	--app-color-accent: #f3704c;
	--app-color-accent-hover: #ff8a67;
	--app-color-accent-soft: #6d2411;
	--app-color-accent-foreground: #ffffff;

	--app-color-success: #86efac;
	--app-color-success-hover: #bbf7d0;
	--app-color-success-soft: #14532d;
	--app-color-success-foreground: #052e16;

	--app-color-warning: #fde68a;
	--app-color-warning-hover: #fef3c7;
	--app-color-warning-soft: #78530f;
	--app-color-warning-foreground: #000519;

	--app-color-error: #fca5a5;
	--app-color-error-hover: #fecaca;
	--app-color-error-soft: #450a0a;
	--app-color-error-foreground: #450a0a;
}