@import "tailwindcss";

@theme {
  --color-brand: #000519;
  --color-accent: #0e7ab8;
  --color-complementary: #5e117e;
  --color-complementary-soft: #faebff;
  --color-background: #ffffff;
  --color-surface: #f8fafc;
  --color-surface-secondary: #faebff;
  --color-text: #000519;
  --color-text-muted: #64748b;
  --color-border: #dbe4f0;
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-danger: #dc2626;
  --color-primary-container: #121b30;
  --color-secondary-fixed-dim: #94ccff;
  --color-on-surface-variant: #45464d;
  --color-surface-container-low: #eff4ff;
  --color-tertiary-fixed: #f8d8ff;
}
