.dropdown {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;

    .trigger {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
    }

    a {
        width: 100%;
    }

    .icon {
        position: absolute;
        right: 1rem;
        top: 50%;
    }

    ul {
        position: static;
        width: 100%;
        background-color: color-mix(in srgb, var(--color-accent) 10%, transparent);

        li {
            width: 100%;

            a:hover {
                background-color: color-mix(in srgb, var(--color-accent) 15%, transparent);
            }
        }
    }
}